<%- include('../layout/header.ejs'); %>

<!-- script -->
<script>
    
</script>

<div class="container pt-4 pb-5 pm-b">
    <div class="row justify-content-center">
        <label class="col-12 text-center h5 text-cus-blue">
            #POMDOMEWEDDING
        </label>
        <label class="col-12 text-center">
            Pom & Dome
        </label>
        <label class="col-12 text-center">
            Wajeenun <i class="fa-regular fa-heart text-danger"></i> Korawit
        </label>
        <label class="col-12 text-center">
            25 November 2023
        </label>
        <label class="col-12 text-center">
            ป้อม & โดม
        </label>
        <label class="col-12 text-center">
            วจีนันท์ <i class="fa-regular fa-heart text-danger"></i> กรวิชญ์
        </label>
        <label class="col-12 text-center">
            25 พฤศจิกายน 2566
        </label>
        <img src="/images/LINE_ALBUM_25112023_231030_1.jpg" class="shadow-lg" id="zoomOut" style="max-width:90%">
    </div>
</div>
<div class="fixed-bottom p-2 mb-2">
    <button type="button" class="btn btn-cus-blue btn-lg btn-block shadow-lg" onclick="window.location.href=`/blessing`;">
        <label class="mb-0">
            <i class="fa-solid fa-gifts"></i> มอบคำอวยพร
        </label>
    </button>
</div>

<%- include('../layout/footer'); %>
